db.sqlite3
*.pyc
*~
**.sublime-*
test/.idea
*.iml
*.idea
test/target
*.pem
**.sublime-*

test/src/main/resources/awscredentials
scripts/setup_aws_env.sh
dist/odapweb.tar.gz
logs/auth.log
logs/boto.log
logs/odapweb.log
logs
odapweb/migrations
tests
*.exvCfB
