db.sqlite3
*.pyc
*~
**.sublime-*
test/.idea
*.iml
*.idea
test/target
*.pem
**.sublime-*

test/src/main/resources/awscredentials
scripts/setup_aws_env.sh
dist/mliyweb.tar.gz
logs/auth.log
logs/boto.log
logs/mliyweb.log
logs
mliyweb/migrations
tests
*.exvCfB
*.cloudpass
